<div  class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <h1 mat-dialog-title>Add User</h1>
    <div mat-dialog-content>
        <div class="dialog">
            <p>
                <mat-form-field class="mr-16" appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input type="name" [disabled]="loading" [(ngModel)]="firstName" matInput placeholder="First Name">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input type="name" [disabled]="loading" [(ngModel)]="lastName" matInput placeholder="Last Name">
                </mat-form-field>
            </p>
        </div>

        <div>
            <p>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>E-mail</mat-label>
                    <input type="email" [disabled]="loading" [(ngModel)]="email" matInput placeholder="E-mail"> 
                </mat-form-field>
            </p>
        </div>

        <div>
            <p>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Birth Date</mat-label>
                    <input [disabled]="loading" [(ngModel)]="birthDate" matInput placeholder="Birth Date" [matDatepicker]="picker2">
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 color="primary"></mat-datepicker>
                </mat-form-field>
            </p>
        </div>

        <div>
            <p>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Street and House no</mat-label>
                    <input [disabled]="loading" [(ngModel)]="street" matInput placeholder="Street and house number">
                </mat-form-field>
            </p>
        </div>

        <div class="dialog">
            <p>
                <mat-form-field appearance="outline" class="mr-16">
                    <mat-label>Zip code</mat-label>
                    <input type="number" [disabled]="loading" [(ngModel)]="zipCode" matInput placeholder="Zip code">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input [disabled]="loading" [(ngModel)]="city" matInput placeholder="City">
                </mat-form-field>
            </p>

        </div>
    </div>
    <div mat-dialog-actions>
        <button [disabled]="loading" mat-button (click)="dialogRef.close()">Cancel</button>
        <button [disabled]="loading" mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
    </div>
</div>