<mat-card class="demo-inline-calendar-card">
  <button class="add-user-btn" (click)="openDialog()" mat-fab color="primary" matTooltip="Add meeting">
    <mat-icon>add</mat-icon>
  </button>

  <mat-calendar [(selected)]="selectedDate">
    
  </mat-calendar>
</mat-card>
<p>
{{selectedDate}}
</p>
<h1>Meetings</h1>

<mat-card>
  <mat-card-content>
    <table class="user-table">
      <tr >
        <th>Meeting</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
      <tr *ngFor="let meeting of meetingList" [routerLink]="[meeting.id]">
        <td>{{meeting.meeting}}</td>
        <td>{{meeting.date}}</td>
        <td></td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>