<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<h1 mat-dialog-title>Edit address</h1>
<div>
    <p class="inputfield over-100-div">
        <mat-form-field appearance="outline" class="max-width">
            <mat-label>Street + number</mat-label>
            <input [disabled]="loading" [(ngModel)]="street" matInput placeholder="Address">
        </mat-form-field>
    </p>
</div>

<div class="row">
    <p class="inputfield">
        <mat-form-field appearance="outline">
            <mat-label>zip-code</mat-label>
            <input [disabled]="loading" [(ngModel)]="zipCode" matInput placeholder="zip-code">
        </mat-form-field>
    </p>

    <p class="inputfield">
        <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input [disabled]="loading" [(ngModel)]="city" matInput placeholder="City">
        </mat-form-field>
    </p>
</div>


<div mat-dialog-actions>
    <div class="button-center">
        <button mat-button>Cancel</button>
        <button (click)="saveEditUser()" mat-button cdkFocusInitial>Save</button>
    </div>

</div>