<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <h1 mat-dialog-title>Add meeting</h1>
    <div mat-dialog-content>

        <p>
            <mat-form-field class="mr-16" appearance="outline" class="full-width">
                <mat-label>Meeting name</mat-label>
                <input [disabled]="loading" [(ngModel)]="meeting" matInput placeholder="Assignment name">
            </mat-form-field>
        </p>

        <div>
            <p>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Date</mat-label>
                    <input [disabled]="loading" [(ngModel)]="MeetingDate" matInput placeholder="Birth Date" [matDatepicker]="picker2">
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 color="primary"></mat-datepicker>
                </mat-form-field>
            </p>
        </div>

        <p>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Time</mat-label>
                <input  type="time" [disabled]="loading" [(ngModel)]="MeetingTime" matInput placeholder="Sales volume">
                
            </mat-form-field>
        </p>
      

    </div>
    <div mat-dialog-actions>
        <button [disabled]="loading"  mat-button>Cancel</button>
        <button (click)="saveMeeting()" [disabled]="loading" mat-button cdkFocusInitial>Save</button>
    </div>
</div>