<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<h1 mat-dialog-title>Add Meeting</h1>
<div>
    <p class="inputfield over-100-div">
        <mat-form-field  appearance="outline" class="max-width">
            <mat-label>Meeting</mat-label>
            <input [(ngModel)]="meeting.meeting"   matInput placeholder="Meeting">
        </mat-form-field>
    </p>
</div>

<div>
    <mat-form-field appearance="outline" class="example-form-field max-width" >
        <mat-label>Date</mat-label>
        <input  [(ngModel)]="meeting.date" [disabled]="loading" matInput [matDatepicker]="datepicker">
        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
</div>

<div mat-dialog-actions>
    <div class="button-center">
        <button (click)="dialogRef.close()"  mat-button>Cancel</button>
        <button (click)="saveMeeting()"  mat-button cdkFocusInitial>Save</button>
    </div>

</div>