<h1 class="title-assignments">Assignments</h1>
<mat-card>
    <mat-card-content>
        <table class="user-table">
            <tr>
                <th>Assignment name</th>
                <th>Start date</th>
                <th>End date</th>
            </tr>
            <tr [style.background]="selectedColor"  *ngFor="let Assignment of getlist()" [routerLink]="['/assignment',Assignment.id]">
                <td>{{Assignment.assignmentName}}</td>
                <td>{{Assignment.startDate | date: 'dd-MM-yyyy'}}</td>
                <td>{{Assignment.endDate | date: 'dd-MM-yyyy'}}</td>
                <button mat-icon-button [matMenuTriggerFor]="userMenu" class="button">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #userMenu="matMenu"  >
                    <button (click)=" changeTheStatusToProgress()"  id="progress" mat-menu-item>In progress</button>
                    <button (click)="changeTheStatusToFinish()" id="finish" mat-menu-item>Finish</button>
                    <button (click)="changeTheStatusToCreated()" id="created" mat-menu-item>Created</button>
                </mat-menu>
            </tr>
            <div  class="final-total"><h2>Final total</h2><span>{{number}}</span></div>
           




        </table>

    </mat-card-content>

</mat-card>


<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add order">
    <mat-icon>add</mat-icon>
</button>