<div class="background" id="log">
    <div>
        <mat-card class="login-card">
            <mat-card-header>
                <h1>Login</h1>
            </mat-card-header>

            <div>
                <p>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>E-mail</mat-label>
                        <input matInput placeholder="E-mail">
                    </mat-form-field>
                </p>
            </div>

            <div>
                <p>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </p>
            </div>

            <mat-card-actions>
                <button mat-button>Login</button>
                <button  mat-button>Guest</button>
                <button (click)="openDialog()" mat-button>Create a account</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>