.mat-draw-container {
    height: 100vh;
}

.menu-icon {
    cursor: pointer;
}

.sidenav {
    width: 300px;
}

.logo-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 56px;

}

.content {
    position: relative;
    
}

//.login {
   // position: absolute;
    //height: 100%;
    //width: 100%;
    //z-index: 20;
//}





mat-toolbar,
mat-toolbar-row {
    min-height: 56px;
    height: 56px;
}

.menu-items {
    list-style-type: none;
    padding: 0px;
    margin: 0px;

    li {
        padding-left: 16px;
        padding-right: 16px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;

        mat-icon {
            margin-right: 16px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);

        }
    }
}

.router-container {
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 16px;
}

.fix{
    
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

