<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <h1 mat-dialog-title>Add Customer</h1>
    <div mat-dialog-content>
        <p>
            <mat-form-field class="mr-16" appearance="outline" class="full-width">
                <mat-label>Company Name</mat-label>
                <input [disabled]="loading" [(ngModel)]="companyName" matInput
                    placeholder="First Name">
            </mat-form-field>
        </p>

        <div class="dialog">
            <p>
                <mat-form-field class="mr-16" appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input [disabled]="loading" [(ngModel)]="firstName" matInput
                        placeholder="First Name">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input [disabled]="loading" [(ngModel)]="lastName" matInput
                        placeholder="Last Name">
                </mat-form-field>
            </p>
        </div>

        <div>
            <p>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>E-mail</mat-label>
                    <input type="email" [disabled]="loading" [(ngModel)]="email" matInput
                        placeholder="E-mail">
                </mat-form-field>
            </p>
        </div>

        <div>
            <p>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Phone</mat-label>
                    <input type="tel" [disabled]="loading" [(ngModel)]="phone" matInput
                        placeholder="Phone">
                </mat-form-field>
            </p>
        </div>

        <div>
            <p>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Street and House no</mat-label>
                    <input [disabled]="loading" [(ngModel)]="street" matInput
                        placeholder="Street and house number">
                </mat-form-field>
            </p>
        </div>

        <div class="dialog">
            <p>
                <mat-form-field appearance="outline" class="mr-16">
                    <mat-label>Zip code</mat-label>
                    <input type="number" [disabled]="loading" [(ngModel)]="zipCode" matInput
                        placeholder="Zip code">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input [disabled]="loading" [(ngModel)]="city" matInput
                        placeholder="City">
                </mat-form-field>
            </p>

        </div>
    </div>
    <div mat-dialog-actions>
        <button [disabled]="loading" mat-button (click)="dialogRef.close()">Cancel</button>
        <button [disabled]="loading" mat-button (click)="saveCustomer()" cdkFocusInitial>Save</button>
    </div>
</div>