.inputfield{
    height: 80px;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
}

h1{
    color: #3f51b5;
    font-size: 42px !important; 
}

.login-card {
    height: 300px;
    width: 500px;
}

.d-none {
    display: none;
}
